{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
 *}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>{ifset title}{include title|stripHtml} | {/ifset}Projekt</title>
                  
                  <link rel="icon" href="{$basePath}/images/icon.png" type="png" sizes="16x16"> 
	<meta name="viewport" content="width=device-width, initial-scale=1">
                  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
	<link rel="stylesheet" href="{$basePath}/css/style.css">
                {**<link rel="stylesheet" type="text/css" href="{$basePath}/js/nittro.min.css" />
                      <script type="application/javascript" src="{$basePath}/js/nittro.min.js" async defer></script> 
                 *}
	{block head}{/block}
</head>

<body>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
        <div class="mainbody">
            <div class="container">
                <div class="row">
                    <div class="col">
	{include content}
                    </div>
                </div>
            </div>
        </div>
        <div class="container" style="padding-top: 2vh">
            {if $user->isLoggedIn()}
            <div class="row">
            </div>
            {/if}
            <div class="row">
                <h3 style="display: block;">Patička</h3>
            </div>
            <div class="row">
                {if $user->isLoggedIn()}
                    <a n:href="Homepage:create" class="text-light">Vytvořit projekt</a> &nbsp <b style="color: #555555">|</b> &nbsp
                    <a n:href="Sign:out" class="text-light">Odhlásit se</a>
                {else}
                    <a n:href="Sign:in" class="text-light">Přihlásit se</a>
                {/if}
                &nbsp <b style="color: #555555">|</b> &nbsp <a n:href="Sign:up" class="text-light">Registrovat se</a>
            </div>
        </div>
        
	{block scripts}
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
	<script src="{$basePath}/js/main.js"></script>
                <script src="{$basePath}/js/nette.ajax.js" type="text/javascript"></script>
                <script>
                    $(function () {
                        $.nette.init();
                    });
                </script>
                  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
                  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
	{/block}
</body>
</html>
