{block content}
<div n:block="title" style="margin-top: 20px; margin-bottom: 5px;" class="display-4 text-center">Výpis</div>
        {snippet projectContainer}
                <table class="table table-hover">
                    <tr>
                        <th>ID</th>
                        <th>Název</th>
                        <th>Datum odevzdání</th>
                        <th>Typ</th>
                        <th>Webový projekt</th>
                        {if $user->isLoggedIn()}
                        <th style="width: 33%">Akce</th>
                        {/if}
                    </tr>
                    
                    {foreach $projects as $project}
                    <tr>
                        <td>{$project['id']}</td>
                        <td>{$project['name']}</td>
                        <td>
                            {date("d.m Y", strtotime($project[date]))}
                        </td>
                        <td>{$project['type']}</td>
                        <td>{if $project['is_web']==0}Ne{else}Ano{/if}
                        </td>                            
                        {if $user->isLoggedIn()}
                        <td>
                            <a n:href="Homepage:edit $project['id']" class="btn btn-dark btn-sm">✎ Upravit</a>
                            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#delete{$project['id']}">✘ Smazat</button>
                            {if $project['isFavourite']}
                                <a n:href="unlike! $project['id']" class="btn btn-primary btn-sm ajax" 
                                   onmouseover="this.innerHTML='Už se mi to nelíbí';"
                                   onmouseout="this.innerHTML='Líbí se mi';">Líbí se mi</a> 
                            {else} 
                                <a n:href="like! $project['id']" class="btn btn-danger btn-sm ajax" 
                                   onmouseover="this.innerHTML='Už se mi to líbí';"
                                   onmouseout="this.innerHTML='Nelíbí se mi';">Nelíbí se mi</a>
                            {/if}
                        </td>
                        {/if}
                    </tr>
                    <div class="modal fade" id="delete{$project['id']}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Potvrdit smazání</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                                Projekt {$project['name']} (ID: {$project['id']})
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Zrušit</button>
                              <a n:href="delete! $project['id']" class="btn btn-danger">Smazat</a>
                            </div>
                          </div>
                        </div>
                     </div> 
                    {/foreach}
                    
                </table>
        {/snippet}
</a> 
{/block}
