body {
        font-size: 15px;
        line-height: 1.6;
        background-color: #151515;
        color: #EEEEEE;
}

h1 {
	color: #3484D2;
}

#ajax-spinner {
	margin: 15px 0 0 15px;
	padding: 13px;
	background: white url('../images/spinner.gif') no-repeat 50% 50%;
	font-size: 0;
	z-index: 123456;
	display: none;
}

div.flash {
	color: black;
	background: #FFF9D7;
	border: 1px solid #E2C822;
	padding: 1em;
}

a[href^="#error:"] {
	background: red;
	color: white;
}

form th, form td {
	vertical-align: top;
	font-weight: normal;
}

form th {
	text-align: right;
}

form .error {
	color: #D00;
	font-weight: bold;
}
input[type="text"], input[type="password"], input[type="date"], input[type="email"], select {
display: block;
padding: 0.375rem 0.75rem;
width: 40vw;
font-size: 1rem;
line-height: 1.5;
color: #495057;
background-clip: padding-box;
border: 1px solid #ced4da;
border-radius: 0.25rem;
transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
input[type="checkbox"]{
  margin-right: 10px;
}
input[type="submit"]{
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}
input[type="submit"]:hover {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
}

input[type="submit"]:focus, input[type="submit"].focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}
input:focus {
color: #495057;
background-color: #fff;
border-color: #80bdff;
outline: 0;
box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}                        
.required, label {
  font-weight: bold;
  padding-right: 1vw;
  padding-top: 3px;
}
.mainbody {
    background-color: #EEEEEE;
    min-height: 80vh;
    color: #151515;
}
body{
    
}


